.search-suggestion {
    // background-color: whitesmoke;
    width: 90%;
    // box-shadow: inset 0 -5px 50px -10px rgba(0, 0, 0, 0.6), 
    //             inset 0 -5px 10px -5px rgba(0,0,0,.6), 
    //             inset 0 -3px 5px rgba(0,0,0,.3), 
    //             0 10px 50px rgba(0,0,0,.6), 
    //             0 5px 10px rgba(0,0,0,.6);
    margin: 1.5em auto 0 auto;
    border-radius: .7em;
    .list {
        padding: 0;
        .list__list-item {
            list-style: none;

            .listItem {
                margin: .8em 0;
                background-color: rgba(0,0,0,.3);
                padding: .7em;
                border-radius: .7em;
            }
        }
        
    }

    .pagination {
        list-style: none;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        margin-top: 2.5em;
        padding: 0;
        >li {
            height: 30px;
            min-width: 30px;
            background-color: var(--primary-color);
            border-radius: .5em;
            border: solid 1px black;
            display: grid;
            place-content: center;
            font-size: .7em;
            font-weight: bold;
            padding: .5em;
            margin: 0 .5em;
            cursor: pointer;
            &.active-item {
                box-shadow: 0 0 10px var(--primary-color);
            }
            &.disabled {
                filter: brightness(.7);
                pointer-events: none;
            }
            &:focus-within {
                
            }
            >a {
                display: inline-block;
                padding: .9em;
                margin: -.9em;
                outline: none;
            }
        }
    }
    
}